
<div class="container">

  <h1>Stupid Coaching - Answer</h1>

  <div class="answer-block">
    <div class="text-block">
      <p><%= @question %></p>
      <p><i>- You</i></p>
    </div>
  </div>

  <div class="answer-block">
    <div class="text-block">
      <p><%= @answer %></p>
      <p><i>- Your coach</i></p>
    </div>
  </div>

  <%= link_to "Do you have another question, stupid ?", ask_path %>

</div>
